@font-face {
  font-family: "TypoRoundRegularDemo";
  src: url("./fonts/TypoRoundRegularDemo.woff") format("woff"), url("./fonts/TypoRoundRegularDemo.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'Manrope', sans-serif;
  font-size: 107%; }

body {
  background-color: #fdfdfe; }

header {
  height: 25vw;
  padding: 2vw 10vw;
  margin: 5vw auto; }
  header h1 {
    position: absolute;
    width: 90vw;
    left: calc(15vw / 2); }
    header h1 a {
      text-decoration: none;
      position: relative;
      top: -5vw;
      left: 2.5vw; }
      header h1 a span {
        font-family: "TypoRoundRegularDemo", sans-serif;
        font-size: 15vw; }
      header h1 a .rings {
        color: #633B8E; }
      header h1 a .true {
        color: #629C44; }
  header .logout {
    text-decoration: none;
    color: #633B8E;
    font-weight: bold;
    text-align: center;
    width: 35vw;
    display: block;
    position: relative;
    bottom: -45vw;
    left: calc(65vw / 3); }

h1:before {
  content: "";
  background-image: url("../../img/rings.svg");
  width: 20vw;
  height: 20vw;
  display: inline-block; }

.search .search__bar {
  display: inline-flex; }
  .search .search__bar .search__input {
    border: 1px solid #966dc2;
    border-right: none;
    padding: 0 6vw;
    width: 75vw;
    height: 13vw; }
    .search .search__bar .search__input::placeholder {
      color: #b091d1;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 6vw;
      padding-bottom: 6vw; }
  .search .search__bar .search__button {
    width: 25vw;
    background-color: #629C44;
    border: 1px solid #4c7835;
    border-left: none;
    background-image: url("../../img/search.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    color: white;
    font-weight: bold;
    text-indent: -9999px; }

.search .results {
  z-index: 2;
  position: absolute;
  background-color: white;
  box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.44);
  width: 100%; }
  .search .results .results__result {
    padding: 0.5vw 5.5vw; }
  .search .results .results__result:hover,
  .search .results .results__result:focus {
    background-color: #cab5e0; }

main .blurb {
  text-align: left;
  margin: 5vw 5vw;
  padding: 5vw 5vw;
  border: 2px double #633B8E; }

main .reg-or-log {
  width: 100%;
  background-color: #e4d9ef;
  padding: 5vw 5vw;
  color: white;
  text-align: center; }
  main .reg-or-log .reg-or-log__reg {
    width: 35vw;
    height: 13vw;
    background-color: #4c7835;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray; }
  main .reg-or-log p {
    font-weight: bold;
    color: #bda3d9; }
  main .reg-or-log .reg-or-log__log {
    width: 25vw;
    height: 13vw;
    background-color: #4a2c6a;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray; }

main .leaderboard {
  margin: 5vw 5vw; }
  main .leaderboard h2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 8vw; }
  main .leaderboard h3 {
    font-size: 7vw;
    text-align: center;
    padding: 2vw 0;
    margin-top: 5vw;
    color: white;
    font-weight: bold;
    letter-spacing: 1px; }
  main .leaderboard ol {
    list-style: none;
    counter-reset: li-count; }
    main .leaderboard ol li::before {
      counter-increment: li-count;
      content: counter(li-count) ". "; }
  main .leaderboard .leaderboard__category--information {
    background-color: #629C44;
    box-shadow: 2px 2px 2px gray; }
  main .leaderboard .leaderboard__information--rank {
    box-shadow: 2px 2px 2px gray; }
    main .leaderboard .leaderboard__information--rank li {
      padding: 0.5vw 2.5vw;
      width: 100%; }
    main .leaderboard .leaderboard__information--rank li:nth-child(2n+1) {
      background-color: #eef6e9; }
  main .leaderboard .leaderboard__category--neutrality {
    background-color: #633B8E;
    box-shadow: 2px 2px 2px gray; }
  main .leaderboard .leaderboard__neutrality--rank {
    box-shadow: 2px 2px 2px gray; }
    main .leaderboard .leaderboard__neutrality--rank li {
      padding: 0.5vw 2.5vw;
      width: 100%; }
    main .leaderboard .leaderboard__neutrality--rank li:nth-child(2n+1) {
      background-color: #e4d9ef; }
  main .leaderboard .leaderboard__category--overall {
    background-color: #f3f34b;
    box-shadow: 2px 2px 2px gray;
    color: black; }
  main .leaderboard .leaderboard__overall--rank {
    box-shadow: 2px 2px 2px gray; }
    main .leaderboard .leaderboard__overall--rank li {
      padding: 0.5vw 2.5vw;
      width: 100%; }
    main .leaderboard .leaderboard__overall--rank li:nth-child(2n+1) {
      background-color: #FFFF90; }

main .cards {
  margin-top: 15vw; }
  main .cards .card {
    width: 85%;
    overflow: hidden;
    margin: 5% auto;
    padding: 5%;
    text-align: center;
    position: relative;
    background: #ffffff;
    box-shadow: 2px 2px 2px gray, inset 0px -44px 107px -78px #ccb8cc; }
    main .cards .card h3 {
      font-size: calc(1rem + 1.5vw); }
    main .cards .card.collapsed {
      height: 60vh; }
    main .cards .card img {
      width: 115%;
      margin: 0 -10%; }
    main .cards .card img[src="./img/broken.jpg"] {
      display: none; }
      main .cards .card img[src="./img/broken.jpg"] + .article-text p:first-of-type {
        text-indent: 1.5rem !important; }
    main .cards .card .article-text {
      text-align: left; }
      main .cards .card .article-text p {
        text-indent: 1.5rem;
        font-size: calc(1rem + 0.5vw);
        line-height: 1.6; }
      main .cards .card .article-text p:first-of-type {
        text-indent: 0; }
        main .cards .card .article-text p:first-of-type::first-letter {
          font-weight: bold;
          font-size: 16pt;
          font-family: serif; }
    main .cards .card .read-button {
      position: absolute;
      bottom: 5%;
      right: 8%;
      width: 30vw;
      background-color: #633B8E;
      box-shadow: 2px 2px 2px gray, 10px 10px 28px -10px gray;
      display: inline-block;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 1% 5%;
      z-index: 1; }
    main .cards .card .rate-button {
      background-color: #4c7835;
      box-shadow: 2px 2px 2px gray, 4px 4px 5px -1px rgba(0, 0, 0, 0.28);
      margin-top: 5vw;
      padding: 1% 5%;
      z-index: 1;
      color: white;
      font-weight: bold;
      letter-spacing: 1px; }
  main .cards .thankYouCard,
  main .cards .maxCard {
    position: relative; }
    main .cards .thankYouCard .card__close,
    main .cards .maxCard .card__close {
      position: absolute;
      top: 1vw;
      right: 5vw;
      background-color: transparent;
      color: #633B8E;
      font-weight: bold;
      padding: 0 1vw; }

.mask {
  background-color: rgba(0, 0, 0, 0.28);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0; }

.modal {
  background: #ffffff;
  z-index: 3;
  width: 85%;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: calc(15% / 2);
  display: flex;
  flex-direction: column;
  padding: 5%;
  text-align: center;
  overflow: hidden; }
  .modal h3 {
    font-size: calc(0.5rem + 2vw);
    position: absolute;
    left: 5%;
    top: 5vh;
    width: 90%; }
  .modal canvas {
    margin: -12vh auto;
    z-index: -1; }
  .modal .submit {
    width: 60%;
    background-color: #633B8E;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray;
    position: absolute;
    bottom: 5vh;
    left: 20%; }
  .modal .sliders {
    position: absolute;
    width: 90%;
    top: 47vh; }
  .modal input[type="range"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #999;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    outline: 0;
    margin: 2vh 0; }
  .modal input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease-in-out; }
  .modal #information::-webkit-slider-thumb {
    background-color: #629C44; }
  .modal #neutrality::-webkit-slider-thumb {
    background-color: #633B8E; }
  .modal input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1); }
  .modal label {
    font-size: calc(1rem + 0.5vh); }
  .modal.network {
    height: 80vh;
    top: 10vh; }
    .modal.network h3 {
      font-size: calc(1rem + 5vw);
      position: absolute;
      left: 5%;
      top: 3vh;
      width: 90%; }
    .modal.network canvas {
      margin: -12vh auto; }
    .modal.network .network__amount {
      position: absolute;
      top: 47vh;
      left: 10%;
      width: 80%;
      font-size: calc(1rem + 1vw); }
    .modal.network table {
      width: 102%;
      position: absolute;
      left: -1%;
      top: 55vh;
      table-layout: fixed;
      border-collapse: collapse; }
      .modal.network table tr th, .modal.network table tr td {
        width: 20%; }
      .modal.network table tr th {
        font-size: calc(0.5rem + 2.5vw);
        color: white;
        font-weight: bold;
        letter-spacing: 1px; }
        .modal.network table tr th.information {
          background-color: #629C44; }
        .modal.network table tr th.neutrality {
          background-color: #633B8E; }
        .modal.network table tr th.overall {
          background-color: #f3f34b;
          color: black; }
      .modal.network table tr td.information {
        background-color: #eef6e9; }
      .modal.network table tr td.neutrality {
        background-color: #e4d9ef; }
      .modal.network table tr td.overall {
        background-color: #FFFF90; }
    .modal.network .ranking__total {
      position: absolute;
      top: 70vh;
      font-size: calc(1rem + 1vw);
      width: 90%; }

.req {
  padding: 3vh 0 2vw 5vw;
  font-size: calc(1rem + 1vw); }
  .req.requirements--username {
    background-color: #e4d9ef; }
  .req.requirements--password {
    background-color: #eef6e9; }
  .req ul li {
    margin: 2vh 10vw; }

.error {
  background-color: #FFFF90;
  text-align: center;
  margin: 2vh 0;
  padding: 1vh 0; }

h2.login {
  text-align: center;
  margin-bottom: 5vh; }

.form {
  text-align: center;
  display: flex;
  flex-direction: column; }
  .form input {
    border: 1px solid #966dc2; }
  .form #register {
    width: 35vw;
    height: 13vw;
    background-color: #4c7835;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray;
    margin: 5vh auto; }
  .form #login {
    width: 25vw;
    height: 13vw;
    background-color: #4a2c6a;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray;
    margin: 5vh auto; }
