@font-face {
  font-family: "TypoRoundRegularDemo";
  src: url("./fonts/TypoRoundRegularDemo.woff") format("woff"), url("./fonts/TypoRoundRegularDemo.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'Manrope', sans-serif;
  font-size: 107%; }

body {
  background-color: #fdfdfe; }

header {
  margin: 5vw auto; }
  header svg {
    width: 70vw;
    display: block;
    margin: 0 auto; }
    header svg text {
      text-decoration: none;
      position: relative;
      left: -1vw;
      width: 80vw;
      display: block;
      font-family: "TypoRoundRegularDemo", sans-serif;
      font-size: 13pt; }
      header svg text.rings {
        fill: #633B8E; }
      header svg text.true {
        fill: #629C44; }
  header .logout {
    text-decoration: none;
    color: #633B8E;
    font-weight: bold;
    text-align: center;
    width: 35vw;
    display: block;
    position: relative;
    bottom: -30vw;
    left: calc(65vw / 2);
    z-index: 2;
    text-shadow: 2px 2px #fdfdfe; }

.search .search__bar {
  display: inline-flex; }
  .search .search__bar .search__input {
    border: 1px solid #966dc2;
    border-right: none;
    padding: 0 6vw;
    width: 75vw;
    height: 13vw; }
    .search .search__bar .search__input::placeholder {
      color: #b091d1;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 6vw;
      padding-bottom: 6vw; }
  .search .search__bar .search__button {
    width: 25vw;
    background-color: #629C44;
    border: 1px solid #4c7835;
    border-left: none;
    background-image: url("../../img/search.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    color: white;
    font-weight: bold;
    text-indent: -9999px; }

.search .results {
  z-index: 2;
  position: absolute;
  background-color: white;
  box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.44);
  width: 100%; }
  .search .results .results__result {
    padding: 0.5vw 5.5vw; }
  .search .results .results__result:hover,
  .search .results .results__result:focus {
    background-color: #cab5e0; }

main .blurb {
  text-align: left;
  margin: 5vw 5vw;
  padding: 5vw 5vw;
  border: 2px double #633B8E; }

main .reg-or-log {
  width: 100%;
  background-color: #e4d9ef;
  padding: 5vw 5vw;
  color: white;
  text-align: center; }
  main .reg-or-log .reg-or-log__reg {
    width: 35vw;
    height: 13vw;
    background-color: #4c7835;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray; }
  main .reg-or-log p {
    font-weight: bold;
    color: #bda3d9; }
  main .reg-or-log .reg-or-log__log {
    width: 25vw;
    height: 13vw;
    background-color: #4a2c6a;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray; }

main h2.leaderboard {
  text-align: center;
  letter-spacing: 1px;
  font-size: 8vw; }

main .leaderboard {
  margin: 5vw 5vw; }
  main .leaderboard h3 {
    font-size: 7vw;
    text-align: center;
    padding: 2vw 0;
    margin-top: 5vw;
    color: white;
    font-weight: bold;
    letter-spacing: 1px; }
  main .leaderboard ol {
    list-style: none;
    counter-reset: li-count; }
    main .leaderboard ol li::before {
      counter-increment: li-count;
      content: counter(li-count) ". "; }
  main .leaderboard .leaderboard__category--information {
    background-color: #629C44;
    box-shadow: 2px 2px 2px gray; }
  main .leaderboard .leaderboard__information--rank {
    box-shadow: 2px 2px 2px gray; }
    main .leaderboard .leaderboard__information--rank li {
      padding: 0.5vw 2.5vw;
      width: 100%; }
    main .leaderboard .leaderboard__information--rank li:nth-child(2n+1) {
      background-color: #d1e6c6; }
  main .leaderboard .leaderboard__category--neutrality {
    background-color: #633B8E;
    box-shadow: 2px 2px 2px gray; }
  main .leaderboard .leaderboard__neutrality--rank {
    box-shadow: 2px 2px 2px gray; }
    main .leaderboard .leaderboard__neutrality--rank li {
      padding: 0.5vw 2.5vw;
      width: 100%; }
    main .leaderboard .leaderboard__neutrality--rank li:nth-child(2n+1) {
      background-color: #e4d9ef; }
  main .leaderboard .leaderboard__category--overall {
    background-color: #f3f34b;
    box-shadow: 2px 2px 2px gray;
    color: black; }
  main .leaderboard .leaderboard__overall--rank {
    box-shadow: 2px 2px 2px gray; }
    main .leaderboard .leaderboard__overall--rank li {
      padding: 0.5vw 2.5vw;
      width: 100%; }
    main .leaderboard .leaderboard__overall--rank li:nth-child(2n+1) {
      background-color: #FFFF90; }

main .cards {
  margin-top: 15vw; }
  main .cards .card {
    width: 85%;
    overflow: hidden;
    margin: 5% auto;
    padding: 5%;
    text-align: center;
    position: relative;
    background: #ffffff;
    box-shadow: 2px 2px 2px gray, inset 0px -44px 107px -78px #ccb8cc; }
    main .cards .card h3 {
      font-size: calc(1rem + 1.5vw); }
    main .cards .card.collapsed {
      height: 60vh; }
    main .cards .card img {
      width: 115%;
      margin: 0 -10%; }
    main .cards .card img[src="./img/broken.jpg"] {
      display: none; }
      main .cards .card img[src="./img/broken.jpg"] + .article-text p:first-of-type {
        text-indent: 1.5rem !important; }
    main .cards .card .article-text {
      text-align: left; }
      main .cards .card .article-text p {
        text-indent: 1.5rem;
        font-size: calc(1rem + 0.5vw);
        line-height: 1.6; }
      main .cards .card .article-text p:first-of-type {
        text-indent: 0; }
        main .cards .card .article-text p:first-of-type::first-letter {
          font-weight: bold;
          font-size: calc(1rem + 8vw);
          float: left;
          font-family: Georgia;
          line-height: calc(1rem + 2vw);
          padding-top: 3vw;
          padding-right: 8px; }
    main .cards .card .read-button {
      position: absolute;
      bottom: 5%;
      right: 8%;
      width: 30vw;
      background-color: #633B8E;
      box-shadow: 2px 2px 2px gray, 10px 10px 28px -10px gray;
      display: inline-block;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 1% 5%;
      z-index: 1; }
    main .cards .card .rate-button {
      background-color: #4c7835;
      box-shadow: 2px 2px 2px gray, 4px 4px 5px -1px rgba(0, 0, 0, 0.28);
      margin-top: 5vw;
      padding: 1% 5%;
      z-index: 1;
      color: white;
      font-weight: bold;
      letter-spacing: 1px; }
  main .cards .thankYouCard,
  main .cards .maxCard {
    position: relative; }
    main .cards .thankYouCard .card__close,
    main .cards .maxCard .card__close {
      position: absolute;
      top: 1vw;
      right: 5vw;
      background-color: transparent;
      color: #633B8E;
      font-weight: bold;
      padding: 0 1vw; }

.mask {
  background-color: rgba(0, 0, 0, 0.28);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0; }

.modal {
  background: #ffffff;
  z-index: 3;
  width: 85%;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: calc(15% / 2);
  display: flex;
  flex-direction: column;
  padding: 5%;
  text-align: center;
  overflow: hidden; }
  .modal h3 {
    font-size: calc(0.5rem + 2vw);
    position: absolute;
    left: 5%;
    top: 5vh;
    width: 90%; }
  .modal canvas {
    margin: -12vh auto;
    z-index: -1; }
  .modal .submit {
    width: 60%;
    background-color: #633B8E;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray;
    position: absolute;
    bottom: 5vh;
    left: 20%; }
  .modal .sliders {
    position: absolute;
    width: 90%;
    top: 47vh; }
  .modal input[type="range"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #999;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    outline: 0;
    margin: 2vh 0; }
  .modal input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease-in-out; }
  .modal #information::-webkit-slider-thumb {
    background-color: #629C44; }
  .modal #neutrality::-webkit-slider-thumb {
    background-color: #633B8E; }
  .modal input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1); }
  .modal label {
    font-size: calc(1rem + 0.5vh); }
  .modal.network {
    height: 80vh;
    top: 10vh; }
    .modal.network h3 {
      font-size: calc(1rem + 5vw);
      position: absolute;
      left: 5%;
      top: 3vh;
      width: 90%; }
    .modal.network canvas {
      margin: -12vh auto; }
    .modal.network .network__amount {
      position: absolute;
      top: 47vh;
      left: 10%;
      width: 80%;
      font-size: calc(1rem + 1vw); }
    .modal.network table {
      width: 102%;
      position: absolute;
      left: -1%;
      top: 55vh;
      table-layout: fixed;
      border-collapse: collapse; }
      .modal.network table tr th, .modal.network table tr td {
        width: 20%; }
      .modal.network table tr th {
        font-size: calc(0.5rem + 2.5vw);
        color: white;
        font-weight: bold;
        letter-spacing: 1px; }
        .modal.network table tr th.information {
          background-color: #629C44; }
        .modal.network table tr th.neutrality {
          background-color: #633B8E; }
        .modal.network table tr th.overall {
          background-color: #f3f34b;
          color: black; }
      .modal.network table tr td.information {
        background-color: #eef6e9; }
      .modal.network table tr td.neutrality {
        background-color: #e4d9ef; }
      .modal.network table tr td.overall {
        background-color: #FFFF90; }
    .modal.network .ranking__total {
      position: absolute;
      top: 70vh;
      font-size: calc(1rem + 1vw);
      width: 90%; }

.req {
  padding: 3vh 0 2vw 5vw;
  font-size: calc(1rem + 1vw); }
  .req.requirements--username {
    background-color: #e4d9ef; }
  .req.requirements--password {
    background-color: #eef6e9; }
  .req ul li {
    margin: 2vh 10vw; }

.error {
  background-color: #FFFF90;
  text-align: center;
  margin: 2vh 0;
  padding: 1vh 0; }

h2.login {
  text-align: center;
  margin-bottom: 5vh; }

.form {
  text-align: center;
  display: flex;
  flex-direction: column; }
  .form input {
    border: 1px solid #966dc2; }
  .form #register {
    width: 35vw;
    height: 13vw;
    background-color: #4c7835;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray;
    margin: 5vh auto; }
  .form #login {
    width: 25vw;
    height: 13vw;
    background-color: #4a2c6a;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px gray;
    margin: 5vh auto; }

@media only screen and (min-width: 500px) {
  header {
    height: auto;
    margin: 5vh auto; }
    header svg {
      width: 500px; }
    header .logout {
      position: fixed;
      width: fit-content;
      height: fit-content;
      top: 1vh;
      left: 1vw; }
  .search .search__bar {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
    .search .search__bar .search__input {
      width: calc(clamp(500px, 60vw, 600px));
      border: 1px solid #966dc2;
      height: 8vh;
      margin-right: 1vw;
      padding: 0 3vw; }
      .search .search__bar .search__input:focus::placeholder {
        color: transparent; }
      .search .search__bar .search__input::placeholder {
        font-size: 2vw;
        text-align: center; }
    .search .search__bar .search__button {
      width: 15vw;
      border: none;
      background-size: 20%;
      box-shadow: 2px 2px 2px grey; }
  .search .results {
    width: calc(clamp(500px, 60vw, 600px));
    left: calc((99% - clamp(500px, 60vw, 600px) - 15vw) / 2); }
    .search .results .results__result {
      padding: 0.5vw 2.5vw; }
  main .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    background-color: #e4d9ef;
    padding: 5vh; }
    main .flex .blurb {
      width: 40vw;
      box-shadow: 2px 2px 2px gray;
      margin: 0;
      background-color: #fdfdfe; }
    main .flex .reg-or-log {
      width: fit-content;
      height: fit-content;
      background-color: transparent;
      padding: none; }
      main .flex .reg-or-log .reg-or-log__reg, main .flex .reg-or-log .reg-or-log__log {
        width: fit-content;
        height: fit-content;
        padding: 2vh 2vw; }
  main .cards {
    margin: 0; }
    main .cards .card {
      width: 85%;
      overflow: hidden;
      margin: 5% auto;
      padding: 5%;
      text-align: center;
      position: relative;
      background: #ffffff;
      box-shadow: 2px 2px 2px gray, inset 0px -44px 107px -78px #ccb8cc; }
      main .cards .card h3 {
        font-size: calc(1rem + 1.5vw); }
      main .cards .card.collapsed {
        height: 20vh;
        padding: 0; }
        main .cards .card.collapsed img {
          width: 40vh;
          position: absolute;
          top: 0;
          left: 10vh; }
        main .cards .card.collapsed h3 {
          width: 100%;
          padding: 1vh 30vh 0 35vh;
          text-align: left;
          font-size: calc(1rem + 1vw); }
        main .cards .card.collapsed .read-button {
          width: 30vh;
          height: 10vh;
          position: absolute;
          top: 0;
          right: 0; }
        main .cards .card.collapsed .article-text {
          width: 30vh; }
      main .cards .card img {
        width: clamp(500px, 60vw, 600px);
        margin: 0 -10%; }
      main .cards .card img[src="./img/broken.jpg"] {
        display: none; }
        main .cards .card img[src="./img/broken.jpg"] + .article-text p:first-of-type {
          text-indent: 1.5rem !important; }
      main .cards .card .article-text {
        text-align: left; }
        main .cards .card .article-text p {
          text-indent: 1.5rem;
          font-size: calc(1rem + 0.5vw);
          line-height: 1.6; }
        main .cards .card .article-text p:first-of-type {
          text-indent: 0; }
          main .cards .card .article-text p:first-of-type::first-letter {
            font-weight: bold;
            font-size: calc(1rem + 8vw);
            float: left;
            font-family: Georgia;
            line-height: calc(1rem + 2vw);
            padding-top: 3vw;
            padding-right: 8px; }
      main .cards .card .read-button {
        position: absolute;
        bottom: 5%;
        right: 8%;
        width: 30vw;
        background-color: #633B8E;
        box-shadow: 2px 2px 2px gray, 10px 10px 28px -10px gray;
        display: inline-block;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 1% 5%;
        z-index: 1; }
      main .cards .card .rate-button {
        background-color: #4c7835;
        box-shadow: 2px 2px 2px gray, 4px 4px 5px -1px rgba(0, 0, 0, 0.28);
        margin-top: 5vw;
        padding: 1% 5%;
        z-index: 1;
        color: white;
        font-weight: bold;
        letter-spacing: 1px; }
  main h2.leaderboard {
    font-size: 4vw;
    margin: 7vh auto 0 auto;
    width: fit-content; }
  main .leaderboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 3vw; }
    main .leaderboard h3 {
      font-size: 3vw; }
    main .leaderboard .leaderboard__category--information, main .leaderboard .leaderboard__category--neutrality, main .leaderboard .leaderboard__category--overall, main .leaderboard .leaderboard__overall--rank, main .leaderboard .leaderboard__neutrality--rank, main .leaderboard .leaderboard__information--rank {
      box-shadow: none; }
    main .leaderboard ol {
      font-size: 2vw; }
  .modal {
    width: clamp(400px, 30vw, 600px);
    left: calc((100% - clamp(400px, 30vw, 600px)) / 2); }
    .modal canvas {
      margin: -10vh auto; }
    .modal.network canvas {
      margin: -10vh auto; }
    .modal.network h3 {
      font-size: calc(1rem + 2vw); }
    .modal.network .network__amount {
      text-align: center;
      width: 80%;
      font-size: calc(1rem + 0.7vw); }
    .modal.network table {
      width: 102%;
      position: absolute;
      left: -1%;
      top: 55vh;
      table-layout: fixed;
      border-collapse: collapse; }
      .modal.network table tr th {
        font-size: calc(0.5rem + 0.8vw); }
    .modal.network .ranking__total {
      position: static;
      font-size: calc(1rem + 0.5vw);
      width: fit-content;
      margin: 20vh auto 0 auto; }
  .reqs {
    display: flex; }
    .reqs .req {
      padding: 3vh 5vw;
      width: 50%; }
      .reqs .req h3 {
        text-align: center; }
    .reqs.requirements--username {
      background-color: #e4d9ef; }
    .reqs.requirements--password {
      background-color: #eef6e9; }
    .reqs ul li {
      margin: 2vh 0;
      font-size: 2vw; }
  .form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: clamp(500px, 60vw, 600px);
    margin: 0 auto; }
    .form input {
      border: 1px solid #966dc2; }
    .form #register, .form #login {
      width: fit-content;
      height: fit-content;
      padding: 2vh 2vw; } }
