$base-purple: #633B8E;
$base-green: #629C44;
$base-yellow: #FFFF90;

@font-face {
    font-family: "TypoRoundRegularDemo";
  
    src: url("./fonts/TypoRoundRegularDemo.woff") format("woff"), /* Modern Browsers */
      url("./fonts/TypoRoundRegularDemo.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

*{
    font-family: 'Manrope', sans-serif;
}

header{
    height: 25vw;
    padding: 2vw 10vw;
    margin: 5vw auto;
    h1{
        position: absolute;
        width: 90vw;
        left: calc(15vw / 2);
        a{
            text-decoration: none;
            position: relative;
            top: -5vw;
            left: 2.5vw;
        
        span{
            font-family: "TypoRoundRegularDemo", sans-serif;
            font-size: 15vw;
        }
        .rings{
            color: $base-purple;
        }
        .true{
            color: $base-green;
        }
        } 
    }
     
    .logout{
        text-decoration: none;
        color: $base-purple;
        font-weight: bold;
        text-align: center;

        width: 25vw;
        display: block;
        // margin: 20vw auto 0 auto;
        position: relative;
        bottom: -22vw;
        left: 25vw;
    }
    
}

h1:before{
    content: "";
    background-image: url("../../img/rings.svg");
    width: 20vw;
    height: 20vw;
    display: inline-block;
}

input{
    border: 1px solid grey;
}

.card{
    width: 85%;
    overflow: hidden;
    margin: 5% auto;
    padding: 5%;
    text-align: center;
    position: relative;

    border-radius: 35px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

    &.collapsed{
        height: 60vh;
    }

    img{
        width: 115%;
        margin: 0 -10%;
    }

    img[src="./img/broken.jpg"]{
        display: none;

        & + .article-text p:first-of-type{
            text-indent: 1.5rem!important;
        }
    }

    .article-text{
        text-align: left;
        font-size: 12pt;

        p{
            text-indent: 1.5rem;
        }

        p:first-of-type{
            text-indent: 0;

            &::first-letter{
                font-weight: bold;
                font-size: 16pt;
                font-family: serif;
            }
        }
    }

    .read-button{
        position: absolute;
        bottom: 5%;
        right: 8%;
        width: 80px;
        border-radius: 15px;
        background-color: purple;
        box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.28);
        display: inline-block;
        color: white;
        padding: 1% 5%;
        z-index: 1;
    }

    .rate-button{
        border-radius: 15px;
        background-color: green;
        box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.28);
        padding: 1% 5%;
        z-index: 1;
        position: relative;
        color: white;
    }
}

.mask{
    background-color: rgba(0,0,0,0.28);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top:0;
    left:0;
}

.modal{
    border-radius: 35px;
    background: #ffffff;
    z-index: 3;
    width: 85%;
    position: fixed;
    top: 20%;
    left: calc(15% / 2);
    display: flex;
    flex-direction: column;
    padding: 5%;
    text-align: center;

    h3{
        font-size: 12pt;
    }

    .submit{
        width: 60%;
        background-color: purple;
        border-radius: 15px;
        color: white;
        margin: 1% auto;
    }    
}

@media only screen and (min-width: 500px){
    .modal{
        width: 30%;
        height: 70vh;
        flex-direction: row;
    }
}